body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e000f;
  background-image: url('/media/img/img14.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.time {
  color: #ffa8a8;
  user-select: auto;
  transition: 0.5s;
  width: 50px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffa8a8;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbdbdb;
}

button:focus, input:focus {
  outline: 2px solid #fbdbdb;
}



.nav-wrapper {
  padding: 5px;
  background-color: #21070fa1;
  border-bottom: 1px solid #ffa8a8;
}
  .nav-wrapper span {
    display: block;
    position: relative;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #ffa8a8;
    margin: 0px auto;
  }

  .nav-wrapper a {
    position: absolute;
    text-decoration: none;
    margin-left: 5px;
    font-size: 2.5em;
    top: 2px;
    color: #ffa8a8;
    z-index: 2;
  }

  .nav-wrapper a:hover {
    color: #ffd2d2;
  }


.chat-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


  .room-box {
    border: 1px solid #ffa8a8;
    background-color: #21070fe8;
    min-width: 190px;
    max-width: 240px;
    overflow-y: scroll;
    margin: 5px 0px;
  }

  .chat-box {
    margin: 5px 5px;
    background-color: #21070fe8;
    display: block;
    border: 1px solid #ffa8a8;
    position: relative;
  }

.controls {
    position: absolute;
    left: 35px;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    flex-shrink: 1;
    align-items: center;
    background-color: #21070fe8;
    width: 120px;
    height: 170px;
    border: 1px solid #ffa8a8;
  }

.userlist-box {
    margin: 5px 0px;
    min-width: 190px;
    max-width: 240px;
    overflow-y: scroll;
    border: 1px solid #ffa8a8;
    background-color: #21070fe8;
  }





    .room-box h3 {
      text-align: center;
      color: #ffa8a8;
    }

    #roomlist {
      list-style: none;
      color: #C5C6C7;
    }

    #roomlist li {
      position: relative;
      cursor: pointer;
      border-bottom: 1px solid #ffa8a8;
      width: 220px;
      left: -35px;
    }

    #roomlist li:hover {
      color: #fbdbdb;
    }

  .user-room-list {
    display: block;
    height: 100px;
    margin-top: 10px;
    padding: 0;
    white-space : nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .user-room-list li {
    display: inline-block;
    margin: 15px;
    margin-bottom: 10px;
    padding: 15px 10px;
    color: #cccccc;
    list-style: none;
    background-color: #250b15;
    border: 1px solid #ffa8a8;
    border-radius: 10px; /* default 2 */
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s
  }

  .user-room-list li:hover {
     border: 1px solid #250b15;
     transition: 0.25s
  }



  #user-room-list-close-btn {
    text-decoration: none;
    color: #746269;
    position: relative;
    padding: 0 5px;
    font-size: 1.5em;
    width: 15px;
    top: -15px;
    left: 11px;
    border: 1px solid #250b15;
    background-color: #250b15;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 2px;
    transition: 0.25s;
  }

  #user-room-list-close-btn:hover {
    color: #ffd2d2;
    transition: 0.25s;
    font-weight: bold;
  }


   .active-user-room {
     background-color: #fbdbdb !important;
     color: #250b15 !important;
     cursor: default !important;
  }

    table {
      border-top: 1px solid #ffa8a8;
      display: block;
      height: 400px;
      overflow-y: scroll;
      border-collapse: collapse;
  }

tr {
  display: grid;
  grid-template-columns: auto auto;
  float: left;
}


td:nth-child(1) {
    vertical-align: top;
    border-right: 1px solid #ffa8a8;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    margin-right: 5px;
}


td:nth-child(2) {
    color: #ccc;
    vertical-align: top;
    word-wrap: break-word;
}

    #chat-form {
      display: flex;
    }

      #chat-form input {
        flex-grow: 1;
        margin: 0 5px 0 0;
        font-size: 1em;
      }

      #chat-form button {
        color: #c5c6c7;
        width: 80px;
        text-transform: uppercase;
        font-size: .8em;
        padding: 5px;
        border: 1px solid #656565;
        background-image: linear-gradient(#a09e9e, #4c4c4c);
      }

      #chat-form button:hover {
      background-image: linear-gradient(#a09e9e, #313131);
      }


  .name-color-picker {
    width: 125px;
    height: 150px;
    background-color: #000000bd;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 5px;
    border: 1px solid #ffa8a8;
  }

    #ncp1 {
      background-color: #FE2712;
    }

    #ncp2 {
      background-color: #FC600A;
    }

    #ncp3 {
      background-color: #FB9902;
    }

    #ncp4 {
      background-color: #FCCC1A;
    }

    #ncp5 {
      background-color: #FEFE33;
    }

    #ncp6 {
      background-color: #B2D732;
    }

    #ncp7 {
      background-color: #66B032;
    }

    #ncp8 {
      background-color: #347C98;
    }

    #ncp9 {
      background-color: #0247FE;
    }

    #ncp10 {
      background-color: #4424D6;
    }

    #ncp11 {
      background-color: #8601AF;
    }

    #ncp12 {
      background-color: #C21460;
    }

    .color-picker {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      border: 1px solid white;
      top: 25px;
      color: white;
      width: 800px;
      height: 550px;
      margin: 0 auto;
      border-radius: 25px;
    }

    #color-picker-name-outer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2px;
      margin: 20px;
      width: 250px;
      padding: 35px;
    }

    #color-picker-name-outer p {

      font-size: 1.5em;
      position: relative;
      grid-column-start: 1;
      grid-column-end: 5;
      display: block;
      margin: auto;
    }

    #color-picker-name-controls {
      position: absolute;
      display: flex;
      height: 75px;
      justify-content: space-around;
      width: 800px;
      top: 460px;
    }

    #color-picker-name-ok-btn {
      display: block;
      height: 50px;
      margin-top: 40px;
      color: #ffffff;
      width: 150px;
      text-transform: uppercase;
      font-size: .8em;
      border: 1px solid #656565;
      background-image: linear-gradient(#a09e9e, #4c4c4c);
      border-radius: 2px;
    }

    #cpno {
      color: white;
      background-color: black;
      display: block;
      border: 1px solid white;
      border-radius: 15px;
      width: 50px;
      margin-left: -45px;
      padding: 28px;
      transition: 0.5s;
    }

    #cpno:hover {
      color: black;
      background-color: #666;
      transition: 0.5s;
    }

    #cpni {
      color: black;
      background-color: white;
      display: block;
      border: 1px solid black;
      border-radius: 15px;
      width: 50px;
      margin-right: -45px;
      padding: 28px;
      transition: 0.5s;
    }
    #cpni:hover {
      color: white;
      background-color: #888;
      transition: 0.5s;
    }





    #color-picker-box-controls {
      display: flex;
      position: absolute;
      font-size: 2em;
      width: 800px;
      justify-content: space-around;
    }

    #overlay-color-form-close {
      color: #F44336;
      text-decoration: none;
      font-size: 2em;
      transition: 0.5s;
    }

    #overlay-color-form-close:hover {
      color: #ffafa9;
    }

    #overlay-color-form-accept {
      color: #25cc2c;
      text-decoration: none;
      font-size: 1.5em;
      margin-right: 600px;
      transition: 0.5s;
    }

    #overlay-color-form-accept:hover {
      color: #93ff98;
    }

     #name-color-preview {
      display: block;
      position: absolute;
      font-size: 2em;
      color: #ffffff;
      background-color: #ff00;
      left: 345px;
    }


    #color-picker-name-ok-btn:hover {
      background-image: linear-gradient(#a09e9e, #313131);
      color: #cccccc;
    }










    #cpno1 {
      background-color: #112135;
    }
    #cpno2 {
      background-color: #152b49;
    }
    #cpno3 {
      background-color: #1c1b39;
    }
    #cpno4 {
      background-color: #222248;
    }
    #cpno5 {
      background-color: #231931;
    }
    #cpno6 {
      background-color: #2c213d;
    }
    #cpno7 {
      background-color: #2f1630;
    }
    #cpno8 {
      background-color: #431d41;
    }
    #cpno9 {
      background-color: #551b29;
    }
    #cpno10 {
      background-color: #651f2c;
    }
    #cpno11 {
      background-color: #572b23;
    }
    #cpno12 {
      background-color: #6d392b;
    }
    #cpno13 {
      background-color: #593925;
    }
    #cpno14 {
      background-color: #6c462a;
    }
    #cpno15 {
      background-color: #5d4625;
    }
    #cpno16 {
      background-color: #73582d;
    }
    #cpno17 {
      background-color: #5d5527;
    }
    #cpno18 {
      background-color: #72692e;
    }
    #cpno19 {
      background-color: #3a3c18;
    }
    #cpno20 {
      background-color: #4c5420;
    }
    #cpno21 {
      background-color: #123414;
    }
    #cpno22 {
      background-color: #16481d;
    }
    #cpno23 {
      background-color: #0c2220;
    }
    #cpno24 {
      background-color: #123431;
    }




    #color-picker-name-inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 2px;
      margin: 20px;
      width: 250px;
      margin-left: auto;
      padding: 35px;
    }

    #color-picker-name-inner p {

      font-size: 1.5em;
      position: relative;
      grid-column-start: 1;
      grid-column-end: 5;
      display: block;
      margin: auto;
    }


    #cpni1 {
      background-color: #5e90b6;
    }
    #cpni2 {
      background-color: #83a1c7;
    }
    #cpni3 {
      background-color: #6c7fae;
    }
    #cpni4 {
      background-color: #8896ba;
    }
    #cpni5 {
      background-color: #8c76aa;
    }
    #cpni6 {
      background-color: #9a8bb9;
    }
    #cpni7 {
      background-color: #ac74a9;
    }
    #cpni8 {
      background-color: #b991b5;
    }
    #cpni9 {
      background-color: #d26262;
    }
    #cpni10 {
      background-color: #e18a73;
    }
    #cpni11 {
      background-color: #d58b59;
    }
    #cpni12 {
      background-color: #e4a770;
    }
    #cpni13 {
      background-color: #df9a57;
    }
    #cpni14 {
      background-color: #e3b771;
    }
    #cpni15 {
      background-color: #e5af59;
    }
    #cpni16 {
      background-color: #e6c774;
    }
    #cpni17 {
      background-color: #e7cb5b;
    }
    #cpni18 {
      background-color: #e4d376;
    }
    #cpni19 {
      background-color: #a4b571;
    }
    #cpni20 {
      background-color: #c0d088;
    }
    #cpni21 {
      background-color: #6eb16d;
    }
    #cpni22 {
      background-color: #95c090;
    }
    #cpni23 {
      background-color: #64aeae;
    }
    #cpni24 {
      background-color: #8ab4b6;
    }




  #ncp-closebtn {
    position: fixed;
    font-size: 2em;
    position: absolute;
    top: 5%;
    left: 95%;
    color: #818181;
    transform: translate(-50%,-50%);
    text-decoration: none;
    transition: 0.3s
  }

  #ncp-closebtn:hover {
    color: #f1f1f1;
    transition: 0.3s;
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
  }

   #overlay-name-form-closebtn, #overlay-room-form-closebtn, #overlay-color-form-closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
    cursor: pointer;
  }

  #overlay-name-form-closebtn:hover, #overlay-room-form-closebtn:hover, #overlay-color-form-closebtn:hover {
    color: #f1f1f1;
    transition: 0.3s;
  }

  #overlay-name-form {
    display: block;
   /* fix after adding polls */
  }
    #overlay-room-form {
      display: none;
    }

    #overlay-name-color {
      display: none;
    }


  #overlay-name-form p, #overlay-room-form p {
    color: white;
    text-align: center;
  }

  #overlay-name-color h2, #overlay-name-color h3 {
    display: block;
    width: 400px;
    margin: 0px auto;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 10px;
  }

  #overlay-name-rules, #overlay-room-rules {
    display: none;
    position: relative;
    top: 38%;
    left: 35%;
    /*transform: translate(-50%,-50%);*/
    color: white;
  }

 #overlay-name-rules li, #overlay-room-rules li {
   position: relative;
   list-style: none;
   color: white;
   left: 20px;
 }

 #overlay-name-rules li::before, #overlay-room-rules li::before {
    position: relative;
    display: inline-block;
    margin-right: 0.25em;
    font-size: 2em;
    content: '';
    border: 1px #da1313 solid;
    border-radius: 0.75rem;
    height: 0.25rem;
    width: 0.25rem;
    background-color: #da1313;
  }





  #overlay-name-rules-invalid, #overlay-room-invalid {
    display: block;
    position: absolute;
    font-size: 1.5em;
    opacity: 0;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

    @keyframes invalidName {
      0%    {opacity: 0; font-size: 2em;}
      5%    {opacity: 1; font-size: 1.5em;}
      100%  {opacity: 0;}
    }

    .invalidNameAnim {
      position: relative;
      animation: invalidName 2s ease;
    }


    #overlay-name-rules::before, #overlay-room-rules::before {
    position: relative;
    display: inline-block;
    margin-right: 0.25em;
    font-size: 1.5em;
    color: #fbdbdb;;
    content: '||';
  }


  #name-form, #room-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);

  }


     .controls button, #name-form button, #room-form button {
      color: #ffffff;
      width: 110px;
      height: 25px;
      text-transform: uppercase;
      font-size: .8em;
      border: 1px solid #656565;
      background-image: linear-gradient(#a09e9e, #4c4c4c);
      border-radius: 2px;
    }

    .controls button:hover, #name-form button:hover, #room-form button:hover {
      background-image: linear-gradient(#a09e9e, #313131);
      color: #cccccc;
    }



    .userlist-box h3, h4 {
      text-align: center;
      color: #ffa8a8;
    }

    #userlist {
      list-style: none;
      color: #C5C6C7;
    }

    #userlist li {
    cursor: pointer;
    }
    #userlist li:hover {
      color:#fbdbdb;
    }


@media only screen and (max-width: 2066px) {
   table {
     width: 1540px;
   }
   .chat-box {
    width: 1540px;
  }
}

@media only screen and (max-width: 1966px) {
   table {
     width: 1440px;
   }
   .chat-box {
    width: 1440px;
  }
}

@media only screen and (max-width: 1866px) {
   table {
     width: 1300px;
   }
   .chat-box {
    width: 1300px;
  }
}


@media only screen and (max-width: 1766px) {
   table {
     width: 1210px;
   }
   .chat-box {
    width: 1210px;
  }
}

@media only screen and (max-width: 1666px) {
   table {
     width: 1120px;
   }
   .chat-box {
    width: 1120px;
  }
}


@media only screen and (max-width: 1566px) {
   table {
     width: 1030px;
   }
   .chat-box {
    width: 1030px;
  }
}


@media only screen and (max-width: 1466px) {
   table {
     width: 940px;
   }
   .chat-box {
    width: 940px;
  }
}


@media only screen and (max-width: 1366px) {
   table {
     width: 850px;
   }
   .chat-box {
    width: 850px;
  }
}


@media only screen and (max-width: 1280px) {
   table {
     width: 700px;
   }
   .chat-box {
    width: 700px;
  }
}

@media only screen and (max-width: 1126px) {
   table {
     width: 650px;
   }
   .chat-box {
    width: 650px;
  }
}

@media only screen and (max-width: 1076px) {
   table {
     width: 600px;
   }
   .chat-box {
    width: 600px;
  }
}

@media only screen and (max-width: 1026px) {
   table {
     width: 550px;
   }
   .chat-box {
    width: 550px;
  }
}



