body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0e000f;
  background-image: url('/media/img/img14.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.time {
  user-select: auto;
  transition: 0.5s;
  width: 50px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffa8a8; 
}

::-webkit-scrollbar-thumb:hover {
  background: #f77f7f; 
}


.nav-wrapper {
  padding: 25px;
  font-size: 2em;
  text-align: center;
  background-color: #21070fa1;
  border-bottom: 1px solid #ffa8a8;
}
  .nav-wrapper span {
    font-weight: bold;
    color: #ffa8a8;
  }




.chat-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}




  .room-box {
    order: 0;
    border: 1px solid #ffa8a8;
    background-color: #21070fe8;
    width: 200px;
    max-width: 250px;
    height: 350px;
    overflow-y: scroll;
    margin: 25px 50px;
  }

    .room-box h3 {
      text-align: center;
      color: #ffa8a8;
    }

    #roomlist {
      list-style: none;
      color: #C5C6C7;
    }

    #roomlist li {
      cursor: pointer;
      border-bottom: 1px solid #ffa8a8;
    }
    


  .chat-box {
    order: 1;
    width: 450px;
    margin-top: 25px;
    margin-left: auto;
    background-color: #21070fe8;
    display: block;
    border: 1px solid #ffa8a8;
  }

    table  {
      border: 2px solid #0000005c;
      display: block;
      height: 465px;
      overflow-y: scroll;
      border-collapse: collapse;
      width: auto;
  }
  
tr {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: stretch;
  float: left;
}

td {
 

}
     
      td:nth-child(1) {
          color: #ffa8a8;
          vertical-align: top;
          border-right: 1px solid #ffa8a8;
          overflow: hidden;
          text-overflow: clip;
          white-space: nowrap;
          margin-right: 5px;
        }
      
      
      td:nth-child(2) {
          color: #ccc;
          vertical-align: top;
          word-wrap: break-word;
        }

      






    
    #chat-form {
      display: flex;
    }

      #chat-form input {
        flex-grow: 1;
        margin: 0 5px 0 0;
        font-size: 1em;
      }

      #chat-form button {
        color: #c5c6c7;
        width: 80px;
        text-transform: uppercase;
        font-size: .8em;
        padding: 5px;
        border: 1px solid #656565;
        background-image: linear-gradient(#a09e9e, #4c4c4c);
      }

      #chat-form button:hover {
      background-image: linear-gradient(#a09e9e, #313131);
      }

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 1;
    align-items: center;
    order: 2;
    background-color: #21070fe8;
    width: 120px; /* 85 default */
    height: 190px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 25px;
    border: 1px solid #ffa8a8;
  }

  .name-color-picker {
    width: 300px;
    height: 300px;
    background-color: #000000bd;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

    #ncp1 {
      background-color: #FE2712;
    }

    #ncp2 {
      background-color: #FC600A;
    }

    #ncp3 {
      background-color: #FB9902;
    }

    #ncp4 {
      background-color: #FCCC1A;
    }

    #ncp5 {
      background-color: #FEFE33;
    }

    #ncp6 {
      background-color: #B2D732;
    }

    #ncp7 {
      background-color: #66B032;
    }

    #ncp8 {
      background-color: #347C98;
    }

    #ncp9 {
      background-color: #0247FE;
    }

    #ncp10 {
      background-color: #4424D6;
    }

    #ncp11 {
      background-color: #8601AF;
    }

    #ncp12 {
      background-color: #C21460;
    }







  .name-color-picker div {
    background-color: #474646;
    
    color: white;
  }

  #ncp-closebtn {
    position: fixed;
    font-size: 2em;
    position: absolute;
    top: 5%;
    left: 95%;
    color: #818181;
    transform: translate(-50%,-50%);
    text-decoration: none;
    transition: 0.3s
  }

  #ncp-closebtn:hover {
    color: #f1f1f1;
    transition: 0.3s;
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
  }

   #overlay-name-form-closebtn, #overlay-room-form-closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
    cursor: pointer;
  }

  #overlay-name-form-closebtn:hover, #overlay-room-form-closebtn:hover {
    color: #f1f1f1;
    transition: 0.3s;
  }

  #overlay-name-form {
    display: block;
  }
    #overlay-room-form {
      display: none;
    }

   
  #overlay-name-form p, #overlay-room-form p {
    color: white;
    text-align: center;
  }

  #overlay-name-rules, #overlay-room-rules {
    display: none;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
    #overlay-name-rules::before, #overlay-room-rules::before {
    position: relative;
    display: inline-block;
    margin-right: 0.25em;
    font-size: 2em;
    content: '';
    border: 1px #da1313 solid;
    border-radius: 0.75rem;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #da1313;
  }


  #name-form, #room-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);

  }

 

     .controls button {
      color: #c5c6c7;
      width: 110px;
      height: 25px;
      text-transform: uppercase;
      font-size: .8em;
      border: 1px solid #656565;
      background-image: linear-gradient(#a09e9e, #4c4c4c);
      border-radius: 2px;
    }

    .controls button:hover {
      background-image: linear-gradient(#a09e9e, #313131);
    }



  .userlist-box {
    order: 2;
    margin: 25px 50px;
    width: 200px;
    max-width: 250px;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #ffa8a8;
    background-color: #21070fe8;
    flex-wrap 1;
  }
  
    .userlist-box h3, h4 {
      text-align: center;
      color: #ffa8a8;
    }

    #userlist {
      list-style: none;
      color: #C5C6C7;
    }


@media only screen and (max-width: 800px) {
    .controls {
      margin-top: 0;
      margin-left: 0;
      order: 0;
      flex-direction: row;
      width: 100%;
      height: 50px;
    }

    .chat-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .chat-box {
      order: 1;
      min-width: 80%;
      width: 100%;
      min-height: 400px;
      max-height: 900px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .room-box {
      margin: 0;
      order: 2;
      min-width: 30%;
      width: 45%;
      margin: 0;
      min-height: 100px;
      flex-grow: 1;
    }

    .userlist-box {
      margin: 0;
      order: 2;
      min-width: 30%;
      width: 100px;
      min-height: 100px;
      flex-grow: 1;
    }
    
    #chat-form {
      height: 50px;
    }

    .nav-wrapper {
      padding: 5px;
    }

    #roll-dice-btn, #change-room button, #change-name button {
      height: 50px;
    }
    
     #name-form input, #room-form input {
      height: 40px;
    }
    
}






@media only screen and (max-width: 1152px) and (min-width: 800px) {


  .chat-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }


    .controls {
     order: 3;
     margin: 0;
     display: flex;
     flex-direction: row;
     flex-basis: 550px;
     height: 50px;
     min-width: 200px;
    
    
    
    
    }

    
    .chat-box {
     margin: 0;
     order: 1;
     max-width: 800px;
     width: 550px;
     height: 500px;
     display: flex;
     flex-direction: column;
 
    }

    .room-box {
      margin: 0;
      order: 0;
      height: 500px;
      flex: 1;
      min-width: 50px;

    }

    .userlist-box {
      margin: 0;
      order: 1;
      flex: 1;
      height: 500px;
      min-width: 50px;
    }
    
    #chat-form {
      margin: 0;
    }

    .nav-wrapper {
      padding: 0;
    }

    #roll-dice-btn, #change-room button, #change-name button {
     
    }
    
     #name-form input, #room-form input {
     
    }


}